*{
margin:0;
padding:0;

}

body {
   max-width:1280px;
  margin: 0;
background-color: aliceblue;
color:rgb(16, 15, 15);
  font-family: 'Montserrat';
  font-weight:300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
